
# This configuration is an example of Kaohi configuraion

log-settings {
	directory = "/var/log/example"
	level = 1                                   // 0 - Silent, 1 - Normal, 2 - Debug, 3 - Verbose
}

listen {
	address = "127.0.0.1:5445"
}

configs "cfg_group1" {
	files = [
		"/var/log/system.log",
		"/var/log/fail.log"
	]
}

commands "cmd_group1" {
	uid = 501
	interval = 10                               // seconds
	files = [
		"/bin/ls",
		"ifconfig"
	]	
}

rsyslog {
	status = "on"
	listen_address = "*.6800"
	protocol = "tcp"
	local_socket = "/var/log/rsyslog.sock"
}
