{
	"log_dir": "/var/log/kaohi",
	"log_level": "DEBUG",

	"listen_address": "127.0.0.1:8443",

	"config_paths": [
		{
			"name": "test1",
			"file_paths": [
				"/var/log/syslog",
				"/var/log/faillog"
			]
		}
	],

	"commands": [
		{
			"name": "test2",
			"uid": 501,
			"interval": 10,
			"cmds": [
				"/bin/ls",
				"ifconfig"
			]
		}
	],

	"rsyslog": {
		"status": false,
		"listen_address": "*:6880",
		"protocol": "tcp",
		"local_socket": "/var/run/kaohi.sock",
	}
}
